.control-bar-container {
  padding: 16px 16px 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--vscode-sideBarSectionHeader-background);
  justify-content: space-between;
  position: relative;
}

.control-bar-container .left,
.control-bar-container .right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.builder-mode-header {
  font-weight: 500;
  font-size: 20px;
  color: var(--vscode-editor-foreground);
  margin-right: 16px;
}

input.control-bar-file-input.unsaved-changed {
  font-style: italic;
}

.input-with-menu {
  display: flex;
  position: relative;
}

.load-template-select,
.file-action {
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid transparent;
  border-radius: 4px;
  gap: 10px;
  max-width: 176px;
}

.settings-panel {
  border: 1px solid var(--vscode-editorWidget-border);
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  right: 16px;
  top: 56px;
  z-index: 10;
  background: var(--vscode-input-background);
  width: 150px;
  font-size: 0.9rem;
}

.settings-panel-title {
  padding: 8px;
  border-bottom: 1px solid var(--vscode-editorWidget-border);
}

.secondary-button.settings-button {
  padding: 8px;
  border-radius: 0;
  width: 100%;
  justify-content: flex-start;
}
